Package: com.gmoran.launchnotifier
Name: LaunchNotifier
Depends: mobilesubstrate
Version: 1.0-1-2-6
Architecture: iphoneos-arm
Description: iPhone says "Application Launched" when app is launched
Maintainer: Guillermo Moran (Fr0st)
Author: Guillermo Moran (Fr0st)
Section: Tweaks
Installed-Size: 16
Installed-Size: 40
Installed-Size: 108
